{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About news </title>
</head>
<body>
    <h1>About News</h1>
    {% for news in news_list %}
        <div>
            <h2>{{ news.title }}</h2>
            <p>Description: {{ news.description }}</p>
            <p>Country: {{ news.country }}</p>
            <p>Date: {{ news.date }}</p>
            <p>Category: <a href="/category/{{ news.category.id }}">{{ news.category.name }}</a></p>
            <img src="{{ news.image.url }}" alt="photo">
        </div>
        <hr>
    {% endfor %}
</body>
</html>
